body {
    background-color: #f7f3f6;
}

h1 {
    font-family: 'Indie Flower', cursive; 
    text-align: center;
}

h2, h3 {
    font-family: 'Indie Flower', cursive; 
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.cat-counter, .cat-counter2  {
    color: #fff;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    background: #f3aab7;
    text-align: center;
    line-height: 25px;
    /*box-shadow: 1px 1px 3px #000;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pets {
    text-align: center;
}

#wrap {
    justify-content: center;
}

.container-1 {
    width: 50%;
    float: left;
}

.container-2 {
    width: 50%;
    float: right;
}